body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    text-align: center;
    color: rgb(158, 114, 32);
    height: 100vh;
}

h2  {
    display: inline;
}
h2{
   margin-right: 500px;
}
.logout{
    background-color: whitesmoke;
    border-radius: 5px;
    width: 100px;
    height: 50px;

}
.logout :hover{
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}
